<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rokt"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoktDemoSplash">
        <activity
            android:name=".ui.screen.tutorials.eight.TutorialEightActivity"
            android:exported="false"
            android:theme="@style/Theme.RoktDemoView"/>
        <activity
            android:name=".ui.screen.tutorials.seven.TutorialSevenActivity"
            android:exported="false"
            android:theme="@style/Theme.RoktDemoView"/>
        <activity
            android:name=".ui.screen.tutorials.six.TutorialSixActivity"
            android:exported="false"
            android:theme="@style/Theme.RoktDemoView"/>
        <activity
            android:name=".ui.screen.tutorials.five.TutorialFiveActivity"
            android:exported="false"
            android:theme="@style/Theme.RoktDemoView" />
        <activity
            android:name=".ui.screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demo"
                    android:path="/preview"
                    android:scheme="rokt" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
    </application>

</manifest>
