name: Run tests and lint

on:
  push:
    branches:
      - main
      - workstation**
      - release**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  checks: write
  id-token: write

jobs:
  trunk-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
        with:
          check-mode: all

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup JDK
        uses: ./.github/actions/setup-java
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Run lint
        run: ./gradlew lint

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup JDK
        uses: ./.github/actions/setup-java
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Run tests
        run: ./gradlew test
      - name: Generate coverage
        run: ./gradlew koverXmlReport
      - name: Upload Test Report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./roktux/build/reports/kover/report.xml,./modelmapper/build/reports/kover/report.xml,./core/build/reports/kover/report.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  assemble-debug:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup JDK
        uses: ./.github/actions/setup-java
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Assemble debug
        run: ./gradlew --no-daemon assembleDebug
      - name: Upload APK artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: apk-files
          path: "**/*.apk"
      - name: Upload AAR artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: aar-files
          path: "**/*.aar"

  snapshot-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup JDK
        uses: ./.github/actions/setup-java

      - name: Move snapshots
        run: |
          mkdir -p roktux/build/outputs/roborazzi
          mv roktux/src/test/snapshots/images/* roktux/build/outputs/roborazzi || true

      - name: Verify snapshots
        id: verify-snapshots
        run: |
          ./gradlew verifyRoborazziRelease -PenableSnapshotTests --tests "com.rokt.roktux.snapshot.*"

      - name: Upload snapshot artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: snapshot
          path: |
            **/build/outputs/roborazzi
            **/build/reports/roborazzi
            **/build/test-results/roborazzi
          retention-days: 7

  pr-notify:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false
    needs: [trunk-check, lint, unit-test, assemble-debug, snapshot-test]
    name: Notify GChat
    uses: ROKT/rokt-workflows/.github/workflows/oss_pr_opened_notification.yml@main
    secrets:
      gchat_webhook: ${{ secrets.GCHAT_PRS_MOBILE_INTEGRATION_CHANNEL_WEBHOOK }}
