name: Release Android UX Helper

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  setup-and-version:
    runs-on: ubuntu-latest
    outputs:
      full_release_needed: ${{ steps.version-changed.outputs.any_changed }}
      full_release_version: ${{ steps.version-file.outputs.release-version }}
      next_snapshot_version: ${{ steps.next-version.outputs.next-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check if VERSION file changed
        id: version-changed
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: VERSION
      - name: Get current version
        id: version-file
        run: |
          version_from_file=$(head -n 1 VERSION)
          echo "release-version=$version_from_file" >> $GITHUB_OUTPUT
      - name: Bump version if necessary
        id: bump-semver
        uses: actions-ecosystem/action-bump-semver@34e334551143a5301f38c830e44a22273c6ff5c5 # v1.0.0
        with:
          current_version: ${{ steps.version-file.outputs.release-version }}
          level: minor
      - name: Determine next snapshot version
        id: next-version
        run: |
          echo "next-version=${{ steps.bump-semver.outputs.new_version }}-SNAPSHOT" >> $GITHUB_OUTPUT

  generate-next-snapshot:
    needs: setup-and-version
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_SIGNING_KEY }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup JDK
        uses: ./.github/actions/setup-java
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Publish to Maven Central
        run: ./gradlew publishMavenPublicationToMavenCentralRepository -PVERSION=${{ needs.setup-and-version.outputs.next_snapshot_version }} --no-configuration-cache

  build-full-release:
    needs: setup-and-version
    if: needs.setup-and-version.outputs.full_release_needed == 'true'
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_SIGNING_KEY }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup JDK
        uses: ./.github/actions/setup-java
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Publish to Maven local
        run: ./gradlew publishMavenPublicationToMavenLocal -PVERSION=${{ needs.setup-and-version.outputs.full_release_version }}
      - name: Publish to Maven Central
        run: ./gradlew publishMavenPublicationToMavenCentralRepository -PVERSION=${{ needs.setup-and-version.outputs.full_release_version }} --no-configuration-cache

      - name: Find release AAR Files
        id: find-aar
        run: |
          file_list=$(find . -path "*/build/outputs/aar/*-release.aar" | paste -sd "," -)
          echo "aar_files=$file_list" >> $GITHUB_OUTPUT
      - name: Rename AAR Files
        id: rename-aar
        run: |
          IFS=',' read -r -a aar_files <<< "${{ steps.find-aar.outputs.aar_files }}"
          new_files=()

          for file in "${aar_files[@]}"; do
            dir=$(dirname "$file")
            base=$(basename "$file" -release.aar)
            new_file="$dir/$base-${{ needs.setup-and-version.outputs.full_release_version }}.aar"
            mv "$file" "$new_file"
            new_files+=("$new_file")
          done
          echo "renamed_aar_files=$(IFS=','; echo "${new_files[*]}")" >> $GITHUB_OUTPUT
      - name: Print Renamed AAR Files
        run: |
          echo "Renamed AAR Files: ${{ steps.rename-aar.outputs.renamed_aar_files }}"
      - name: Upload AAR artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: aar-files
          path: "**/*.aar"

      - name: Find POM Files
        id: find-pom
        run: |
          pom_files=$(find . -path "*/build/publications/maven/pom-default.xml" | paste -sd "," -)
          echo "pom_files=$pom_files" >> $GITHUB_OUTPUT
      - name: Rename POM files
        id: rename-pom
        run: |
          RELEASE_VERSION=${{ needs.setup-and-version.outputs.full_release_version }}
          POM_FILES=${{ steps.find-pom.outputs.pom_files }}
          IFS="," read -r -a FILES <<< "$POM_FILES"
          RENAMED_FILES=()
          for file in "${FILES[@]}"; do
              PROJECT_NAME=$(basename $(dirname $(dirname $(dirname $(dirname $file)))))
              NEW_FILE_NAME="pom-${PROJECT_NAME}-${RELEASE_VERSION}.xml"
              mv "$file" "$(dirname $file)/$NEW_FILE_NAME"
              RENAMED_FILES+=("$(dirname $file)/$NEW_FILE_NAME")
              echo "Renamed $file to $(dirname $file)/$NEW_FILE_NAME"
          done
          echo "renamed_pom_files=$(IFS=","; echo "${RENAMED_FILES[*]}")" >> $GITHUB_OUTPUT
      - name: Upload POM artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: pom-files
          path: "**/*.pom"

      - name: Concatenate Renamed Files
        id: concat-files
        run: |
          aar_files="${{ steps.rename-aar.outputs.renamed_aar_files }}"
          pom_files="${{ steps.rename-pom.outputs.renamed_pom_files }}"
          concatenated_files="${aar_files},${pom_files}"
          echo "concatenated_files=$concatenated_files" >> $GITHUB_OUTPUT

      - uses: ffurrer2/extract-release-notes@cae32133495112d23e3569ad04fef240ba4e7bc8 # v2.3.0
        id: extract-release-notes
        with:
          changelog_file: CHANGELOG.md
      - name: Changelog
        run: echo "${{ steps.extract-release-notes.outputs.release_notes }}"

      - name: Create Github release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: ${{ steps.concat-files.outputs.concatenated_files }}
          makeLatest: true
          tag: ${{ needs.setup-and-version.outputs.full_release_version }}
          body: |
            ## Release notes:
            ${{ steps.extract-release-notes.outputs.release_notes }}

  update-android-sdk:
    needs: [generate-next-snapshot, setup-and-version]
    if: needs.setup-and-version.outputs.full_release_needed == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.SDK_RELEASE_GITHUB_APP_ID }}
          private-key: ${{ secrets.SDK_RELEASE_GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            sdk-android-source

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: ROKT/sdk-android-source
          token: ${{ steps.generate-token.outputs.token }}
          ref: main
          persist-credentials: false

      - name: Update Rokt Android SDK's UX Helper version
        uses: colathro/toml-editor@da6b46ee7779ed730d2160393ed95fb20e82696d # v1.1.1
        with:
          file: gradle/libs.versions.toml
          key: versions.roktUxHelper
          value: ${{ needs.setup-and-version.outputs.next_snapshot_version }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update UX Helper to ${{ needs.setup-and-version.outputs.next_snapshot_version }}
          branch: update-ux-helper-${{ needs.setup-and-version.outputs.next_snapshot_version }}
          title: NOJIRA - Bump UX Helper to ${{ needs.setup-and-version.outputs.next_snapshot_version }}
          base: main
          body: |
            # Update UX Helper

            Rokt UX Helper version ${{ needs.setup-and-version.outputs.full_release_version }} has been released.

            Bumping UX Helper to next snapshot version ${{ needs.setup-and-version.outputs.next_snapshot_version }}.
          labels: |
            chore
